.updateButton {

    margin-left: 20px;
    margin-top: 20px;
}

.buttonContainer {
	margin-left: 20%;
}
.sliderContainer {
	height:50px;
}

.slider{
	width: 300px !important;
	margin-left: 2%;
}

.labelSlider{
	display: inline-block;
	width: 240px; 
	text-align: right;
}

select {
	height:34px !important;
}

#duration {
	display: inline-block;
}

#durationAmount{
	display: inline-block;
}