.updateButton {

    margin-left: 20px;
    margin-top: 20px;
}

.buttonContainer {
	margin-left: 25%;
}
.sliderContainer {
	height:30px;
	margin-left: 25%;
}

.slider{
	width: 300px !important;
	margin-left: 2%;
}

.labelSlider{
	display: inline-block;
	width: 240px; 
	text-align: right;
}

select {
	height:34px !important;
}

#duration,#shape {
	display: inline-block;
}

#durationAmount,#shapeAmount{
	display: inline-block;
}

#displaySVG{
	margin-top: 100px;
}